@{
    ViewData["Title"] = "Home Page";
}

<div class="fullscreen-bg">
    <video loop muted autoplay poster="images/background.jpg" class="fullscreen-bg__video">
        <source src="~/background.mp4" type="video/mp4">
    </video>
</div>
